<form method="post" action="{{ path('admin_musician_delete', {'id': musician.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce musicien et non le désactiver (recommandé) ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musician.id) }}">
    <button class="btn">Delete</button>
</form>
