<form method="post" action="{{ path('admin_musician_delete', {'id': musician.id}) }}" onsubmit="return confirm('{{ 'confirm.delete_musician'|trans|e('js') }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musician.id) }}">
    <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
</form>
