{% extends 'base.html.twig' %}

{% block title %}Nouveau musicien{% endblock %}

{% block body %}
    <main class="adminForms container-md">
    <h1 class="text-center"><span class="text-primary">Ajout d'un musicien</span></h1>

    {{ include('admin/musician/_form.html.twig') }}
        <div class="mt-2">
            <a class="btn btn-primary me-1" href="{{ path('admin_musician_index') }}">Retour à la liste</a>
        </div>
    </main>
{% endblock %}