{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <main class="adminForms container-md">

        <h1>Inviter un administrateur</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a href="{{ path('admin_user_index') }}">retour à la liste</a>
    </main>
{% endblock %}
