<form method="post" action="{{ path('admin_event_delete', {'id': event.id}) }}"
      onsubmit="return confirm('{{ 'confirm.delete_event'|trans|e('js') }}');">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
<button class="btn">{{ 'action.delete'|trans }}</button>
</form>
