<section id="welcome">
    <div class="homeCarousel">
        <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel" data-interval="100">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="{{ swiperTimer }}">
                    <img src="https://picsum.photos/id/250/1500/1000" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="{{ swiperTimer }}">
                    <img src="https://picsum.photos/id/145/1500/1000" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="{{ swiperTimer }}">
                    <img src="https://picsum.photos/id/232/1500/1000" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="homeWelcome">
        <div class="welcomText">
        <h1><mark>BIENVENUE</mark></h1>
        <p class="associationDescription">{{ association.getAssociation.description }}</p>
        </div>
    </div>
</section>