{% extends 'base.html.twig' %}

{% block body %}
    <main class="homepage container-fluid">
        {% include 'home/_welcome.html.twig' %}
        <section class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="pt-1">Panel Production</h1>
        </section>

        {% include 'home/_homeContact.html.twig' %}

    </main>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}