{% extends 'base.html.twig' %}

{% block body %}
    <main class="homepage container-fluid">

        {% include 'home/_welcome.html.twig' %}
        {% include 'home/_homeContact.html.twig' %}

    </main>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}