services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    container_name: symfony_php
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql
    networks:
      - symfony

  mysql:
    image: mysql:8.4
    container_name: symfony_mysql
    ports:
      - "${MYSQL_PORT:-3307}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - symfony
    env_file:
      - .env.local

  nginx:
    build:
      context: docker/nginx
    container_name: symfony_nginx
    ports:
      - "${NGINX_PORT:-8080}:80"
    volumes:
      - ./:/var/www/html:ro
    depends_on:
      - php
    networks:
      - symfony

  mailpit:
    image: axllent/mailpit:latest
    container_name: symfony_mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - symfony

volumes:
  mysql_data:

networks:
  symfony:
    driver: bridge
