parameters:
    level: 6
    paths:
        - src/
    # Le temps de faire les corrections sur les iterables :)
    # @TODO: REMOVE ignored errors
    ignoreErrors:
        - identifier: missingType.iterableValue