parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    # Le temps de faire les corrections :)
    ignoreErrors:
        - # checkMissingIterableValueType has been removed since phpstan 2.0. So the error needs to be ignored with an identifier instead
            identifier: missingType.iterableValue
