{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.check_email_title'|trans }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset_password.check_email_text'|trans({'expires': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
    </p>
    <p>{{ 'reset_password.retry'|trans({'link': '<a href="' ~ path('app_forgot_password_request') ~ '">' ~ 'reset_password.retry_link'|trans ~ '</a>'})|raw }}</p>
{% endblock %}
