{% extends 'base.html.twig' %}

{% block body %}
    <main class="bandIndex">
        {{ component('band_search',{
            searchData:searchData,
            searchQuery:searchData['query'],
            events:searchData['events'],
            musicStyles:searchData['musicStyles'],
            priceCategory:searchData['priceCategory'],
            }) }}
    </main>
{% endblock %}
