<form method="post" action="{{ path('admin_musicStyle_delete', {'id': music_style.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce style de musique ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music_style.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
