{% extends 'base.html.twig' %}

{% block title %}Liste des styles de musique{% endblock %}

{% block body %}
<main class="adminItemIndex container-lg">

    <div class="d-flex justify-content-between">
        <h1>Liste des styles</h1>
        <div>
            <a class="btn btn-primary" href="{{ path('admin_musicStyle_new') }}"><i class="bi bi-plus-circle"></i> Ajouter</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        {% for music_style in music_styles %}
            <tr>
                <td>{{ music_style.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_musicStyle_edit', {'id': music_style.id}) }}">Gerer les groupes - modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun style disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}