<nav class="navbar navbar-expand-lg navbar-dark bg-black p-4">
    <div class="container-fluid">
        <a class="h4 navbar-brand" href="/">{{ association.getAssociation.name }}<span class="text-primary"> Prod .</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-chevron-bar-down"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Accueil</a>
                <a class="nav-link" href="{{ path('band_index') }}">Les spectacles</a>
                <a class="nav-link" href="{{ path('index') }}#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>