<section id="eventListSection" class="container">
    <div class="welcomText">
        <h1>
            <mark>Prochaines prestations...</mark>
        </h1>
    </div>

    <div id="fullCalendarList" {{ stimulus_controller('calendarLaunch') }}>
    </div>
</section>