main.adminBandEdit {
  img {
    max-height: 3rem;
  }

  label, legend {
    font-weight: bold;
  }

  #band_musicStyles, #band_events {
    display:flex;
    flex-wrap: wrap;
    & > div {
      margin-right: $spacer;
    }
  }
}