main.homepage {
  padding: 0;

  section#welcome {
    display: inherit;

    div.homeCarousel {
      height: auto;
      #homeCarousel {
        margin: $spacer;
        box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.65);
        aspect-ratio: 3/2;
    }
      img {
        object-fit: cover;
      }
    }

    div.homeWelcome {
      width: 80vw;
      position: relative;
      margin-top: -5rem;
      margin-left: 10vw;
      padding: $spacer;
      background-color: $secondary;
      @include media-breakpoint-up(lg) {
        margin-top: inherit;
        margin-left: -5rem;
        h1 {
          margin-left: -$spacer*2;
          margin-bottom: $spacer;
        }
      }

      .associationDescription {
        padding-bottom: $spacer;
      }
    }


    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      //@include fullScreen();
    }

    div.homeCarousel {
      flex-basis: 50%;
      min-width: 50vw;
    }
  }
}