main.homepage {
  padding: 0;

  section#welcome {
    display: inherit;

    div.homeCarousel {
      height: auto;

      img {
        object-fit: cover;
      }
    }

    div.homeWelcome {
      width: 80vw;
      position: relative;
      margin-top: -5rem;
      margin-left: 10vw;
      padding: $spacer;
      background-color: $secondary;
      @include media-breakpoint-up(lg) {
        margin-top: inherit;
        margin-left: -5rem;
        h1 {
          margin-left: -5rem;
          margin-bottom: $spacer;
        }
      }

      .associationDescription {
        padding-bottom: $spacer;
      }
    }


    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      @include fullScreen();
    }

    div.homeCarousel {
      flex-basis: 50%;
      min-width: 50vw;
    }
  }
}