@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;500;700&display=swap");

$font-family-base:'Tajawal', sans-serif;

$primary : #A90084;
$secondary : #F5F5F5;
$carousel-transition-duration:1s;
