<form method="post" action="{{ path('admin_band_delete', {'id': band.id}) }}" onsubmit="return confirm('{{ 'confirm.delete_band'|trans|e('js') }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ band.id) }}">
    <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
</form>
