{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <main class="adminForms container-md">

<h1>Créer un nouveau groupe</h1>

    {{ include('admin/band/_form.html.twig') }}

    <a href="{{ path('admin_band_index') }}">retour à la liste</a>
</main>
{% endblock %}
