<form method="post" action="{{ path('admin_concert_delete', {'id': concert.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce concert ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concert.id) }}">
    <button class="btn btn-danger mt-1">Supprimer</button>
</form>
