{% extends 'base.html.twig' %}

{% block title %}New Concert{% endblock %}

{% block body %}
    <h1>Create new Concert</h1>

    {{ include('admin/concert/_form.html.twig') }}

    <a href="{{ path('admin_concert_index') }}">back to list</a>
{% endblock %}
