{% extends 'base.html.twig' %}

{% block title %}Edit MusicStyle{% endblock %}

{% block body %}
    <h1>Edit MusicStyle</h1>

    {{ include('music_style_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_music_style_admin_index') }}">back to list</a>

    {{ include('music_style_admin/_delete_form.html.twig') }}
{% endblock %}
